<!-- Start carousel -->
  <amp-carousel width="756" height="638" layout="responsive" type="slides" class="mb4">


  <!-- Start Image with Caption -->
  <figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="/{{ index .Params 0 }}" width="756" height="520" alt="{{ index .Params 1 }}" layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
      {{ index .Params 1 }}
    </figcaption>
  </figure>
  <!-- End Image with Caption -->


  <!-- Start Image with Caption -->
  <figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="/{{ index .Params 2 }}" width="756" height="520" alt="{{ index .Params 3 }}" layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
      {{ index .Params 3 }}
    </figcaption>
  </figure>
  <!-- End Image with Caption -->


  <!-- Start Image with Caption -->
  <figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="/{{ index .Params 4 }}" width="756" height="520" alt="{{ index .Params 5 }}" layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
      {{ index .Params 5 }}
    </figcaption>
  </figure>
  <!-- End Image with Caption -->
  </amp-carousel>
<!-- End carousel -->